<div class="contentUp">
  <div class="row">
      <div class="col-2"></div>
      <div class="col-8 resumen">Linea de Crédito</div>
      <div class="col-2"></div>
  </div>
</div>

<div class="tarjetaGrande">
  <div class="row">
      <div class="col logotipo">
          <img width="100%" src="/assets/img/details-banner.png" alt="">  
      </div>
  </div>
</div>
<div class="container-fluid">
  <table style="margin-bottom: 0;" class="table">
    <thead>
      <tr>
        <th>Fecha Consumo</th>
        <th style="text-align: center;">Detalle</th>
        <th>Total S/.</th>
      </tr>
    </thead>
    <tbody *ngFor="let detail of details; let i = index;">
      <tr *ngIf="detail.desPro!='CUOTAS DEL MES (VER DETALLE)'">
      	<td colspan="2" *ngIf="i==0"><strong>{{ detail.desPro }}</strong></td>
      	<td *ngIf="i!=0" style="text-align: center;">{{ detail.fecCns }}</td>
        <td *ngIf="i!=0">{{ detail.desPro }}</td>
        <td *ngIf="!detail.monSol[0].$" style="text-align: center;">{{ detail.monSol }}</td>
        <td *ngIf="detail.monSol[0].$" style="text-align: center;">{{ detail.subTot }}</td>
      </tr>
    </tbody>
    <tbody>
    	<tr>
    		<td style="text-align: center;"><strong>{{ pay.fecCns }}</strong></td>
        <td><strong>{{ pay.desPro }}</strong></td>
        <td style="text-align: center;"><strong>{{ pay.monSol }}</strong></td>
    	</tr>
    	<tr>
    		<td style="text-align: center;">{{ commision.fecCns }}</td>
        <td>{{ commision.desPro }}</td>
        <td style="text-align: center;">{{ commision.monSol }}</td>
    	</tr>
    	<tr>
      	<td style="text-align: center;">{{ insurance.fecCns }}</td>
        <td>{{ insurance.desPro }}</td>
        <td style="text-align: center;">{{ insurance.monSol }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: center;">
    <img src="assets/img/logo.png" alt="">
</div>