thead th{
    background: #009FE1;
    color:#fff;
    text-transform: uppercase;
    padding:.75rem 0!important;
}
th{
    background: #E7EEF0;
    color:#009FE1;
    font-size: .7em;
    border:solid .2px #fff;
    text-transform: uppercase;
    padding:.75rem 0!important;
}
td{
    background: #E7EEF0;
    font-size: .7em;
    border:solid .2px #fff;
    padding:.75rem .12rem!important;
}
table{
    margin-top:5vh;
    
}