<div *ngIf="!displayDetail" class="container-fluid">
  <div class="contentUp">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 resumen">Resumen General</div>
        <div class="col-2"></div>
    </div>
  </div>
  <div class="contentTabs">
      <div class="row">
          <div class="col-5 tarjeta"><a href="linea.html">
              <img src="assets/img/logoOh.png" alt="">    
          </a></div>
          <div class="col-7">
              <div class="col greydark">
                <div class="col-6">Periodo de Facturación</div>
                <div class="col-6">{{ billingPeriod }}</div>
              </div>
              <div class="col greylight">
                <div class="col-6">Último día de Pago</div>
                <div class="col-6">{{ lastPayday }}</div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col deudaTotal">
          		<p class="tituloDeuda">DEUDA TOTAL </p> 
          		<br>
          		<p class="montoDeuda">S/. {{ amountDebt }}</p> 
      		</div>
      </div>
      <div>
          <div class="row">
              <div class="col-6">
                  <div class="pagomes">
                      <p class="titulo">Pago del mes</p>   
                      <p class="precio">S/. {{ paymentMonth }}</p>
                  </div>
                  <div class="pagominimo">
                      <p class="titulo">Pago mínimo</p>
                      <p class="precio">S/. {{ minimunPaymentMonth }}</p>
                      </div>
              </div>
              <div class="col-6 imageFondo">
                  
              </div>
          </div>
      </div>
      <div class="row">
          <div (click)="showDetails()" class="col detalle">
              <p class="titulo"> Detalle de movimientos</p>  
          </div>
          <div class="col doble">
              <div class="compraCuotas">
                  <p class="titulo">Compra en cuotas</p>
                  <p class="precio">S/. 530.14</p>
                  </div>
              <div class="comisiones"Comisiones>Comisiones</div>
          </div>
      </div>
      <div class="centrado">
          <img src="assets/img/logo.png" alt="">
      </div>
  </div>
</div>

<app-balance-detail *ngIf="displayDetail" [soapres]="soapRes"></app-balance-detail>

<button *ngIf="displayDetail" class="btn btn-primary" (click)="goBack()">Regresar</button>