@font-face{
    font-family: "itcBook";
    src:url(/assets/fonts/ITCAvantGardeStd-Bk.otf);
}
body{
    font-family: 'itcBook'!important;
}
.contentUp{
    height:5vh;

}
.resumen{
    text-align: center;
}
.tarjeta{
    background: #B4282E;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 17vh;
}
.greydark{
    background: #D9E0E2;
    width: 100%;
    padding:0;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greylight{
    background-color: #E6E6E6;
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deudaTotal{
    background-image: url(/assets/img/bosque.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 17vh;

}
.imageFondo{
    background-image: url(/assets/img/chica.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 34vh; 
}
.pagomes{
    height: 17vh;
    background: #009FE1;
    color:#fff;
}
.pagominimo{
    height: 17vh;
    background: #D97631;
    color:#fff;
}
.detalle{
    height: 19vh;
    background: #623991;
    color:#fff;
}
.compraCuotas{
    background: #4DB1B0;
    height: 9.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.comisiones{
    background: #24BABC;
    height: 9.5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:#fff;
}
.col, .col-6, .col-7{
    padding:0!important;
}
.tituloDeuda{
    color:#fff;
    font-size:1.4em;
    float: right;
    margin-right:10px;
    padding-bottom:10px;
}
.montoDeuda{
    color:#fff;
    font-size: 2em;
    font-weight: bold;
    float: right;
    margin-right:10px; 
}
.titulo{
    font-size:1em;
    margin-bottom:0!important;
    padding-top:2em;
    margin-left: 10px;
}
.precio{
    font-size:1.8em;
    font-weight: 400;
    margin-left: 10px;
}

/* linea de credito*/

.tarjetaGrande{
    background: #B4282E;
    color:#fff;
    height: 38vh;
    border-radius:5px;
}
.col-11 p{
    font-size:.9em; 
}
.bajoCero{
    margin-bottom:0!important;
}
.datos{
    margin-top:2em;
}
.datos h5{
    font-weight: 200;
}
.logotipo{
    margin-top:1em;
}
.logotipo img{
   
}
thead th{
    background: #009FE1;
    color:#fff;
    text-transform: uppercase;
    padding:.75rem 0!important;
}
th{
    background: #E7EEF0;
    color:#009FE1;
    font-size: .7em;
    border:solid .2px #fff;
    text-transform: uppercase;
    padding:.75rem 0!important;
}
td{
    background: #E7EEF0;
    font-size: .7em;
    border:solid .2px #fff;
    padding:.75rem .12rem!important;
}
table{
    margin-top:5vh;
    
}
.centrado{
    text-align: center;
}