<div class="container-fluid">
    <div class="tarjetaLogin">
        <h5>¿ Eres tu?</h5>
        <form #loginForm="ngForm">
            <!-- <label for="dni">número de DNI:</label> -->
            <input type="text" #dni class="form-control" id="dni" placeholder="número de DNI">
	        <p class="textoLogin">Ingresa el número de tu dni para confirmar tu identidad</p>
	        <div class="row">
	        	<div class="col-1"></div>
	            <div class="col"><button type="button" class="btn btn-danger cancelar">cancelar</button></div>
	            <div class="col"><button type="button" class="btn btn-primary continuar" (click)="onSubmit(dni.value)">continuar</button></div>
	        </div>
        </form>
    </div>
    
</div>