@font-face{
    font-family: "itcBook";
    src:url(/assets/fonts/ITCAvantGardeStd-Bk.otf);
}
body{
    font-family: 'itcBook'!important;
}
.grey{
    background: #E7EEF0;
}
.tarjetaLogin{
    background: #fff;
    width: 90%;
    height: 200px;
    margin-left:5%;
    margin-top:30vh;
    box-shadow: 5px 5px 5px grey;
}
.tarjetaLogin h5{
    color:#000 !important;
    margin-left:10%;
    padding-top:1em;
}
.tarjetaLogin p{
    width: 80%;
    margin-left:10%;
}
#dni{
    width: 80%;
    margin-left:10%;
    border:none;
    border-bottom: 1px solid grey;
    border-radius:0!important;
}
.textoLogin{
    font-size:.9em;
    color:grey;
    margin-top:.7em;
}
.cancelar, .continuar{
    color:#24BABC;
    text-transform: uppercase;
    font-size: .9em;
    background-color: transparent;
    border-color: transparent;
}